<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
        <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <h2>Login</h2>
    <form action="/log-in" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>
        <p>Dont have an account? <a href="/sign-up">sign up here</a></p>

    </form>
</body>

</html>