<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CalTracker - Login</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   <%- include('partials/nav') %>
   <h2>Log In</h2>
    <form action="/log-in" method="POST">
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>

      <button type="submit">Login</button>
      <p>Dont have an account? <a href="/sign-up">sign up here</a></p>
    </form>

    <% if (error) { %>
    <p style="color: red;">
      <%= error %>
    </p>
    <% } %>

</body>

</html>